/* Copyright (c) 2015-2016, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include <dt-bindings/interrupt-controller/irq.h>

&pmi8998_haptics {
	status = "okay";
	interrupts = <0x3 0xc0 0x0 IRQ_TYPE_NONE>,
				 <0x3 0xc0 0x1 IRQ_TYPE_NONE>;
	qcom,wave-shape = "sine";
	qcom,play-mode = "buffer";
	qcom,wave-samples = [28 28 28 28 28 28 28 28];
	qcom,wave-samples-overdrive = [7e 7e 7e 7e 7e 28 28 28];
	qcom,brake-pattern = [03 03 03 03];
	qcom,wave-rep-cnt = <1>;
	qcom,wave-samp-rep-cnt = <1>;
	qcom,vmax-mv = <2088>;
	qcom,wave-play-rate-us = <4255>;
	qcom,use-play-irq;
	qcom,use-sc-irq;
	qcom,lra-auto-res-mode = "zxd-eop";
	qcom,lra-res-cal-period = <32>;
};
